@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.swiper {
	width: 100%;
	height: 650px;
}

.swiper-slide {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@layer components {
	.buttons {
		@apply absolute bottom-[35px] left-[180px] first:mr-[20px] last:ml-[20px];
	}
}

.swiper-slide button.primary {
	background: #6256ec;
	border-radius: 8px;
	padding: 12px 24px;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 500;
	left: 180px;
	bottom: 35px;
	width: 141px;
}

.swiper-slide button.second {
	background: #25282f;
	border-radius: 8px;
	padding: 12px 24px;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 500;
	left: 180px;
	bottom: 35px;
	width: 141px;
}
